* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e2dede;
}

a:hover {
    text-decoration: none;
}

.header {
    background-color: #006837;
    padding-top: 15px;
    padding-bottom: 7px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-nave {
    display: flex;
    line-height: 1;
    padding-bottom: 11px;
}

.header .navbar-toggler-icon .fa {
    color: #fff;
    font-size: 28px;
}

.header .navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #006837;
    border-radius: 0;
}

.header .navbar-dark .navbar-toggler {
    color: none;
    border-color: none;
}

.header button:focus {
    outline: 1px dotted;
    outline: none;
}


.header .custom-select {
    background: #fff url() !important;
    color: #a6a6a6 !important;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 10px;
}
.header .form-control {
    -webkit-appearance: none;
    padding: 0 10px;
}

.header .custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}

.header .product-search {
    padding: 0;
}

.header .deader-categories-one {
    margin-right: 8px;
}

.deader-product {
    position: relative;
}

.header .input-group-append {
    position: absolute;
    right: 15px;
    line-height: 2.3;
    z-index: 100;
}

.product-search-click {
    color: #a6a6a6;
}

.header .input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child) {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.form-control {
    color: #a6a6a6 !important;
    font-size: 13px;
}

.cart-icon a .fa, .heart-icon a .fa {
    color: #fff;
}

.cart-icon, .heart-icon {
    font-size: 25px;
}

.heart-icon {
    font-size: 25px;
}

.heart-icon {
    font-size: 22px;
    margin-right: 23px;
}

.header-icon {
    position: relative;
    padding-right: 5px;
    width: 100%;
    text-align: right;
}

.zero {
    position: absolute;
    top: -4px;
    right: -2px;
    background-color: #000;
    font-size: 13px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.header-categories {
    display: flex;
    height: 45px;
}

.header-categories-box {
    width: 40%;

}

.header-categories-box2 {
    width: 70%;
}

.banner-img img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.banner-img {
    width: 100%;
    margin-top: -7px;
}

.app-banner {
    position: relative;
    margin-top: 95px;
}

.app-banner .owl-theme .owl-controls {
    position: absolute;
    bottom: 0;
    right: 13px;
}

.app-banner .owl-theme .owl-dots .owl-dot.active span {
    background: transparent;
    border: 1px solid #f89833;
}

.app-banner .owl-theme .owl-dots .owl-dot span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
}

.app-banner:before {
    content: '';
    width: 100%;
    height: 65px;
    background-color: #006837;
    top: 0;
    position: absolute;
    z-index: -1;
}

.cbd-oil {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 47px 0 0 64px;
    height: 100%;
}

.app-banner-slider {
    position: relative;
}

.cbd-oil h4 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}

.dis-pesent {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.buy-pdct {
    width: 90px;
    padding: 4px 10px;
    background-color: #006837;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-right: 156px;
    position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 13px;
}
.category-cbd {
    width: 100%;
    height: 150px;
    padding: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-cbd img {
    max-width: 100%;
    max-height: 100%;
    /* height: 100%; */
    /* width: 100%; */
    object-fit: cover;
}
.category-text-box {
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-text p {
    margin: 0;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}

.category-text {
    text-align: center;
    padding: 10px 15px 10px 0;
    background-color: #fff;
}

.category-cbd-icon .fa {
    font-weight: 100;
    font-size: 10px;
    vertical-align: baseline;
    color: #000;
}

/* .category-cbd-icon {
    float: right;
} */

.shop-category-cbd {
    display: flex;
}

.shop-category-oil {
    margin-right: 12px;
    width: 100%;
}

.shop-category-oil:last-child {
    margin-right: 0;
}
.shop-category {
    margin-top: 20px;
}
.category-had h4 {
    font-size: 15px;
    margin-bottom: 11px;
    font-weight: 600;
    text-transform: capitalize;
}

.best-selling {
    text-align: center;
    padding: 10px;

}

.best-selling p {
    font-size: 10px;
}
.best-selling .category-cbd-icon {
    font-size: 10px;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

.cbd-brand-box {
    background-color: #f9f9f9;
    display: flex;
}
.cbd-iner-box {
    width: 55%;
    height: 144px;
}
.cbd-iner-box img {
    width: 100%;
    border-top-right-radius: 87px;
    border-bottom-right-radius: 0px;
    height: 100%;
    object-fit: cover;
}
.cbd-iner-box2 {
    width: 40%;
    padding: 44px 0 0 23px;
}
.cbd-iner-box2 ul li {
    list-style: none;
    font-size: 11px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.brand-icon {
    margin-right: 9px;
    font-size: 12px;
}

.cbd-brand {
    margin-top: 15px;
}

.seeshop-box {
    display: flex;
    padding: 10px;   
    background-color: #fff;
}
.seeshop-iner-box {
    width: 100%;
    margin-right: 10px;
}
.seeshop-iner-box img {
    width: 100%;
}
.seeshop-iner-box:last-child {
    margin-right: 0;
}


/* --------------product--------------- */

section.cbd-nav-header {
    background-color: #fff;
    margin-top: 59px;
}

.cbd-header-product {
    background-color: #fff;
    display: flex;
}
.header-produc-box {
    width: 100%;
    text-align: center;
}
.header-produc-box h5 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 11px;
}
.btm-mrgn {
    margin-bottom: 15px;
}


/* -------------------------deatail-page-------------------------- */
.navbar-toggler-icon img {
    width: 100%;
    vertical-align: -webkit-baseline-middle;
}
.detail-nave .navbar-toggler-icon {
    width: 2em;
}

.list-banner {
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list-banner {
    margin-top: 50px;
    background: #fff;
    text-align: center;
}
.list-banner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.list-heart-icon {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 23px;
}
.list-heart-icon a {
    color: #e0b63d;
}
.listing-detail-box {
    padding-top: 17px;
}
.list-detail-rate {
    background-color: #ffff;
}
.listing-detail-box h6 {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
}
.price-box {
    display: flex;
    padding-bottom: 13px;
    border-bottom: 1px solid #ededed;
    padding-top: 6px;
}
.price-iner-box {
    width: 50%;
}
.price-iner-box p {
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}
.price-iner-box:last-child {
    text-align: right;
}
.add-list button {
    background-color: #ddd;
    padding: 2px 0px 2px 11px;
    font-size: 13px;
    border: none;
    border-radius: 2px;
    background-color: #439f46;
    color: #ffff;
    text-transform: capitalize;
}
.add-list button span {
    background-color: #006837;
    color: #fff;
    margin-left: 11px;
    padding: 2px 12px;
    border-radius: 2px;
}

.list-unit {
    display: flex;
    padding: 11px 0;
}

.unit p {
    margin: 0;
    line-height: 28px;
}

.request-selection {
    position: relative;
    margin-left: 30px;
}
.request-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.request-radio+.request-check {
    cursor: pointer;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}
.request-check {
    width: 70px;
    display: inline-block;
    padding: 4px 0;
    font-size: 13px;
    margin-right: 3px;
    text-align: center;

}
.request-radio:checked+.request-check {
    outline: 1px solid #f39b1a;
    /* border-radius: 4px; */
    outline-style: auto;
    border: none;
}
.radio-box label {
    display: inline-block;
    margin-bottom: 0;
}


.product-hilight {
    background-color: #fff;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}
.product-hilight .listing-detail-box {
    padding-top: 13px;
    position: relative;
}
.product-hilight .listing-detail-box h6{
    margin-bottom: 16px;
       
}
.product-hilight:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    bottom: 2px;
}
.product-hilight .listing-detail-box:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: red;
    left: 0;
    top: 43px;
    z-index: 1;
}

.key-feture {
    background-color: #fff;
    padding: 18px 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
.key-feture-cont p {
    font-size: 13px;
    margin-top: 23px;
}
.key-feture:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    top: 65px;
}


.footer {
    background-color: #006837;
    position: fixed;
    bottom: 0;
    width: 100%;;
}
.foote-box {
    display: flex;
    padding: 20px 0;
}
.add-total p {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.add-total {
    width: 100%;
}
.add-total:last-child {
    text-align: right;
}

/* ----------------------my-cart-------------------------- */

.nav-logo {
    width:275px !important;
    line-height: 24px;
}
.nav-logo img {
    width: 22px; 
    margin-right: 6px;
    vertical-align: middle;
}
.my-cart {
    color: #fff;
    font-size: 13px;
}

.cart-iner-box {
    display: flex;
    background-color: #ffff;
    margin: 6px 0;
    border-radius: 5px;
}
.cart-product {
    width: 30%;
    height: 115px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.cart-product img {
    max-width: 100%;
    max-height: 100%;
}
.cart-product-dtl {
    padding: 13px;
}
.cart-product-dtl h6 {
    font-size: 14px;
    font-weight: 600;
}
.cart-product-dtl p {
    font-size: 12px;
    text-transform: capitalize;
    margin: 0;
}

.qnt-input {
    width: 33px;
    text-align: center;
    height: 32px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    background-color: transparent;
    cursor: pointer;
}
.btn-wdt {
    width: 48px;
    border: none;
}
.cart-product-dtl {
    width: 70%;
}
.strawberry-gm-box {
    text-align: right;
    margin-top: 10px;
}
.qnt-input:first-child, .qnt-input:last-child {
    border: 1px solid #439f46;
}
.cart-box {
    margin-bottom: 75px;
    margin-top: 65px;
}


/* --------------------------------nave-slider-------------------------------------- */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
  }
  
 .sidbar-box-head {
    width: 80%;
    background-color: #c99021;
    position: relative;
    min-height: 100vh;
    height: 100%;
}
  .sidenav a {
    padding: 10px 8px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -4px;
    right: 12px;
    font-size: 30px;
    margin-left: 50px;
  }
  .sidbar-header {
    background-color: #006837;
    padding: 5px 0 5px 32px;
}


.profile img {
    width: 31px;
}
.profile {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.sidbar-icon img {
    margin-right: 18px;
    width: 24px;
}
.sidbar-listing li {
    list-style: none;
}
.sidbar-olist {
    padding-left: 50px;
}
ol.sidbar-olist li a {
    padding: 5px 3px;
    margin: 0;
}
/* ol.sidbar-olist li a:hover {
    color: #000;
    transition: all 0.3s;
    font-weight: 700;
} */
.profile-box span {
    color: #fff;
    font-size: 14px;
}
.sidbar-listing {
    padding-left: 10px;
    position: relative;
}
.sidbar-listing:after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #c38c20;
    bottom: -6px;
    height: 1px;
    left: 0;
}
.cart-rt-dtl {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    background-color: #006837;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.other-pr {
    margin-left: 24px;
    color: #fff;
    font-weight: 400;
}
.cust-support {
    position: relative;
    margin: 0;
    /* padding-left: 17px; */
    list-style: none;
    padding: 0;
    padding-left: 17px;
}

.cust-support:before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c38c20;
    position: absolute;
    top: -6px;
    left: 0;
}
.logout {
    text-align: right;
    margin-right: 25px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    bottom: 10px;
}
.logout a {
    background-color: #006837;
    display: inline-block;
    border-radius: 2px;
    padding: 8px 15px;
}
.logout a span {
    font-size: 17px;
    vertical-align: middle;
}
/**********************************sing-up-pages*************************************/
.main-sign-box{
    padding: 25px;
    background: #fff;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin-top: 20px;
 }
 .sign-titile{
     text-align: center;
     padding: 25px;
     font-size: 25px;
     color: #c89625;
 
 }
 .sign-titile h1 {
     font-size: 30px;
 }
 .form-box .form-control {
     padding-left: 0;
     color: rgba(0, 0, 0, 0.7);
     border: none;
     border-bottom: 1px solid #E0E0E0;
     border-radius: 0;
     height: 45px;
     font-size: 14px;
     font-weight: 500;
 }
 .form-box input{
     color: #000!important;
 
 }
 .form-box .form-control-placeholder {
     position: absolute;
     top: 0;
     padding: 7px 0 0 0;
     transition: all 200ms;
     opacity: 0.5;
     font-size: 16px;
     line-height: 16px;
     text-transform: uppercase;
     cursor: text;
     pointer-events: none;
 }
 .form-box .form-group{
     width: 100%;
     position: relative;
     padding-bottom: 25px;
 }
 .form-control:focus {
     box-shadow: none;
 }
.form-control:focus+.form-control-placeholder {
    font-size: 12px;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
 .lableup .form-control-placeholder {
     font-size: 12px;
     transform: translate3d(0, -100%, 0);
     opacity: 0.8;
     top: 0px;
 }
 .sign-btn{
     width: 100%;
     height: 50px;
     font-size: 20px;
     border-radius:50px;
     text-transform: uppercase;
     border: none;
     background: #006837;
     color: #fff;
     position: relative;
     cursor: pointer;
 }
 .sign-btn img {
     width: 20px;
     transform: rotat(-7px);
     transform: rotatey(-180deg);
     position: absolute;
     top: 18px;
     right: 15px;
 }
 .forget-password{
     text-align: center;
     padding: 25px 0;
 } 
 .forget-password a{
     color: #000;
 } 
 .line-box{
     border:1px dashed #ececec;
     position: relative;
     margin: 25px 0;
 }
 .line-box div {
     left: 44%;
     top: -22px;
     padding: 10px;
     border: 1px dashed #ececec;
     position: absolute;
     border-radius: 50%;
     text-transform: uppercase;
     color: #d0c7c7;
 }
 .socal-btn-box{
     display:flex;
     justify-content: space-between;
     padding: 25px 0;
     margin-bottom: 60px;
     
 }
 
 .socal-btn-box button {
     width: 47%;
     display: inline-block;
     height: 50px;
     font-weight: 500;
     border-radius: 50px;
     background: #fff;
     border: 2px solid #55acee;
     text-transform: uppercase;
     font-size: 14px;
     color: #55acee;
     cursor: pointer;
 }
 .socal-btn-box .fb-btn{
     border-color: #3b5998;
     color: #3c5a99;
 }
 .sign-footer{
     background: #323232;
     padding: 25px;
     text-align: center;
     position: fixed;
     bottom: 0;
     left: 0;
    width: 100%;
 }
 .sign-footer p{
     margin: 0;
     color: #c38c20;
     font-size: 14px;
 }
 .sign-footer a{
     color: #c38c20;
     font-size:14px;
     font-weight: 600;
 }

 /************************************orders--pages-css*************************/

 .order-box{
    width: 100%;
    background:#fff;
    border-radius: 3px;
    padding: 15px 0 5px;
    margin-bottom: 10px;

 }
 .oreder-title{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
    font-size: 14px;
}
.product-order-info{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 15px;
}
.product-order-left{
display: flex;
justify-content: space-between;
}
.product-order-left .img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.product-order-left .img-box img{
    max-width: 100%;
    max-height: 100%;
}
.product-order-left .text-info p{
    font-size:14px;
    color: #000;
    font-weight: 500;
    margin-bottom: 0;
}
.product-order-left .text-info span{
    font-size: 12px;
    color: #000;
    font-weight: 400;
}
.product-order-left .text-info span img {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 3px;
}
.product-order-left .text-info span.unactive{
   color: #ca9227;
}
.product-order-left .text-info span.active{
    color: #439f46;
 }
.product-order-right p{
    font-size: 14px;
    font-weight: 400;
    min-height: 30px;
}
.product-order-right .review-btn{
    font-size: 14px;
    color: #006837;
}

.amount-paid-info{
    display: flex;
    justify-content: space-between;
    padding: 14px 15px 12px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;

}

.amount-paid-info span{
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
.amount-paid-info p{
    margin: 0;
    font-weight: 600;
}
.viwe-details{
    padding: 10px 15px;
   
}
.viwe-details a{
    display: inline-block;
    background: #ca9227;
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding: 8px;
    border-radius: 3px;
    color: #fff;
}




/* ---------------------------payment-option------------------------------ */
.payment-option {
    margin-top: 51px;
    background-color: #fff;
    padding: 20px 0 19px;
    position: relative;
}
.total-para {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
}
.doler-option {
    float: right;
    font-weight: 600;
}
.total-coler{
    margin: 6px 0 0 0;
    font-size: 11px;
    font-weight: 300;
    color: #866464;
}
.pay-amount {
    margin-top: 40px;
}

.payment-option:before {
    width: 100%;
    height: 1px;
    position: absolute;
    content: '';
    background-color: #f4f4f4;
    bottom: 72px;
}
.pay-amount .total-coler {
    margin: 0;
}
.pay-amount .doler-option {
    line-height: 30px;
}
.pay-amount .total-para {
    font-size: 15px;
    font-weight: 400;
}

.cart-option {
    background-color: #fff;
    padding-top: 15px;
    margin-bottom: 73px;
}

.discribtion .nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.discribtion .nav-tabs .nav-link {
    border: 0;
    background: none;
    border-bottom: 1px solid #ea4340;
}
.discribtion .nav-link {
    font-size: 12px;
}
.discribtion .nav-link:focus {
    /* color: #ea4340; */
    border-bottom: 1px solid #ea4340;
    /* font-weight: 600; */
}
.discribtion .tab-content {
    /* border-bottom: 2px solid #dee2e6; */
    padding: 4px 0 13px 0;
}
.mob-1 {
    color: #858585;
    text-transform: capitalize;
    font-weight: 400;
    margin-left: 4px;
    font-size: 12px;
}

.card-no {
    font-size: 11px;
    margin-bottom: 10px;
}

.cart-option .form-control {
    color: #a6a6a6 !important;
    font-size: 13px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    height: 30px;
    padding: 6px 10px;
    margin-top: 1px;
    font-size: 11px;
}
.cart-month .form-control{
    /* border-bottom: 1px solid #fcfcfc; */
}
.payment-option-footer .add-total {
    width: 100%;
    text-align: center;
}
.add-total p a {
    color: #fff;
}
.payment-option-footer .add-total p {
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
}
.left-img {
    float: right;
}
.pay-add {
    text-align: right;
    padding: 10px 0;
}
.pay-btn {
    padding: 5px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 12px;
    border-radius: 4px;
}
.pay-btn:focus {
    outline: none;
}
.paypal-payble {
    width: 150px;
    height: 34px;
    text-align: center;
    margin: 40px auto;
}
.paypal-payble img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.shipping {
    padding: 10px 0;
    background-color: #fff;
    margin: 10px 0;
}
.CP-dtl {
    margin: 13px 0;
    font-size: 20px;
}

.shipping label {
    font-size: 12px;
}
.shipping .form-control {
    color: #a6a6a6 !important;
    font-size: 11px;
}
.shipping .form-group {
    margin-bottom: 6px;
}
.shipping-main-box {
    display: flex;
}
.shipping-main-box .form-group {
    margin-right: 14px;
    width: 100%;
}
.shipping-main-box .form-group:last-child {
    margin-right: 0;
}
.apartment-number {
    margin-top: 15px;
}

.thank-you-check {
    display: block;
    color: #1b8a1b;
    font-size: 100px;
    text-align: center;
}
.thank-you-heading {
    color: #1b8a1b;
    text-align: center;
    font-size: 37px;
    font-family: auto;
}
.containt {
    text-align: center;
    font-size: 11px;
    margin-top: 27px;
    letter-spacing: 0.2px;
    font-weight: 400;
}
.thank-you {
    background-color: #ffff;
    text-align: center;
}
.countinew-shop {
    font-size: 13px;
    padding: 10px 30px;
    background-color: #e81212;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 20px;
}
.thank-you-img {
    width: 100%;
    height: 100%;
}
.thank-you-img img {
    width: 100%;
    height: 100%;
}

.owl-stage-outer {
    padding-left: 0!important;
}
.mt51{
    margin-top: 51px;
}
.address-details {
    padding-bottom: 73px;
}
.smalltext {
    font-size: 12px;
    line-height: 17px;
    margin-top: 7px;
}
.product-search .modal-title {
    font-size: 16px;
}
.product-search p {
    font-size: 13px;
}
.modal-dialog {
    margin-top: 103px;
}
.btn.btn-success{
    cursor: pointer;
}
.heart-icon a {
    cursor: pointer;
}


/* -------------------------------------contact-us------------------------------------- */

.contast-us {
    margin-top: 52px;
    background-color: #fff;
    padding: 0px 0;
    height: 100vh;
}
.item-contact-box {
    padding: 15px 25px;
    margin: 10px 0;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 5px;
}
.icon-style {
    font-size: 39px;
    color: #d5a102;
    float: left;
    display: inline-flex;
}
.entry-content p {
    font-size: 14px;
    line-height: 1.6;
}
.title-phone {
    font-size: 18px;
    color: #333;
    margin-bottom: 0px;
    padding-left: 50px;
}

.title-number {
    color: #d5a102;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
    padding-left: 50px;
}
.title-number a{
    color: #d5a102; 
}
.product-wrapper.product-detail {
    padding: 15px;
    /* padding-top: 0; */
}
.product-wrapper {
    /* background: #ffffff; */
    padding-right: 0px;
    padding-left: 0px;
    /* border-radius: 5px 5px 5px 5px; */
    float: left;
    width: 100%;
    margin-bottom: 20px;
    /* box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1); */
}
.contact-box h2 {
    font-size: 22px;
    margin: 15px 0 25px 0;
}
.contact-box .btn {
    border-radius: 0;
    padding: 12px 25px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #006837;
    border-color: #006837;
    border-radius: 3px;
    margin-top: 15px;
}
.contact-box .btn:hover {
    background-color: #d5a102;
    border-color: #d5a102;
}


/* -----------------------------order-detail----------------------------------- */

.order-detail {
    background-color: #fff;
    margin-top: 54px;
    padding: 20px 0 10px 0;
    height: 100vh;
}
.order-heading p {
    font-size: 10px;
}
.order-heading h3, .billing-heading h3 {
    font-size: 20px;
    margin-bottom: 17px;
    font-weight: 600;
}
.order-detail table tr td {
    font-size: 13px;
    font-weight: 700;
}
.order-doler {
    color: #bfa09f;
    font-weight: 400 !important;
}
.billing-heading h3 {
    margin-top: 22px;
}
.Billing-content p {
    margin: 0;
    font-size: 12px;
    margin-bottom: 3px;
}
.Billing-content {
    border: 1px solid #dee2e6;
    padding: 11px;
    border-radius: 7px;
}
.billing-icon {
    margin-right: 12px;
    font-size: 13px;
}
td.billing-bdr-remove {
    border: 0;
}
.billing-border {
    border: 1px solid #dee2e6;
    border-radius: 7px;
}
.table th, .table td {
    text-transform: capitalize;
}


/* ------------my-order---------------- */

.my-order-dtl-heding {
    background-color: #f6f6f6;
    padding: 12px 10px;
}
.my-order-dtl-heding h3 {
    margin: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
.my-order-icon {
    float: right;
    background-color: #006837;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/* .my-order-icon .fa {
    margin-right: 8px;
} */
.my-order-icon:hover {
    color: #fff;
}
.my-order-iner-box {
    margin-top: 10px;
}